@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    max-width: 100%;
    backdrop-filter: blur(12px);
    background-color: rgb(255, 255, 255, 0.95);
    display: inline-block;
    position: fixed;
    z-index: 999;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.077);
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
    outline: none;
    box-shadow: none;
}

.offcanvas-body {
    z-index: 999;
}

.nav-link {
    color: #000000;
    font-weight: 400;
    position: relative;
    transition: 0.5s;
    font-size: 0.9rem;
}

.nav-link:hover,
.nav-link.active {
    font-weight: 500;
    color: #C68313 !important;
}

.nav-item .bi {
    font-size: 1.25rem;
    color: #000000;
    display: inline-block;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    transition: 0.2s;
}

.nav-item .bi:hover,
.nav-item .bi.active {
    background-color: #C68313;
    color: #fff !important;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.offcanvas {
    width: 65% !important;          
    max-width: 100% !important;        
    background-color: #fff !important;
    height: 100vh !important;
}

/* HERO SECTION */
.hero-section {
    background: url('../public/004XbGi8OManIyb7w9Q7rHF-1.webp');
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 70px 20px 20px 20px;
    position: relative;
    background-attachment: fixed;
    background-color: rgb(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
}

.hero-content h1 {
    color: #fff;
    font-size: 42px;
    margin-bottom: 10px;
    font-weight: bold;
}

.hero-content p {
    color: #ddd;
    max-width: 600px;
    margin: auto;
    line-height: 24px;
    margin-bottom: 20px;
}

.cta-btn {
    background: #E7A72E;
    padding: 12px 25px;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.cta-btn:hover {
    background: #d09327;
}


/* FAQ SECTION */
.faq-section {
    padding: 60px 0;
    background: #fff;
}

.faq-container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

.faq-container h2 {
    font-size: 26px;
    margin-bottom: 25px;
    color: #222;
}

.faq-box {
    border: 1px solid #eee;
    padding: 25px 30px 10px 30px;
    background: #fafafa;
    border-radius: 10px;
    margin-bottom: 20px;
    border-left: 5px solid #d09327;
}

.faq-box ul li {
    font-weight: bold;
}

.faq-box h3 {
    color: #E7A72E;
    font-size: 18px;
    margin-bottom: 8px;
    font-weight: 600;
}

.faq-box p {
    color: #444;
}


/* RESOURCES SECTION */
.resources-section {
    background: #f9f9f9;
    padding: 55px 0;
}

.resources-container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

.resources-container h2 {
    font-size: 26px;
    margin-bottom: 25px;
}

.resource-grid {
    display: flex;
    gap: 20px;
}

.resource-card {
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid #eee;
    border-left: 5px solid #d09327;
    width: 33.33%;
}

.resource-card h4 {
    color: #E7A72E;
    margin-bottom: 8px;
}

.resource-card p {
    color: #555;
}

/* --- Footer --- */
footer {
    width: 100%;
    height: auto;
    padding-top: 70px;
    padding-bottom: 50px;
    padding-left: 100px !important;
    padding-right: 100px !important;
}

.foot-cont {
    max-width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 span {
    color: #C68313;
}

.cont1 .content {
    color: #fff;
    margin-top: 35px;
}

.icon-name {
    font-weight: 600;
    font-size: 1rem;
}

.cont2, .cont3 {
    color: #fff;
}

.cont2 h5, .cont3 h5 {
    color: #C68313;
}

.cont2 ul, .cont3 ul {
    margin-top: 30px;
}

.cont2 ul li, .cont3 ul li {
    margin-top: 15px;
}

.foot-icons {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.foot-icons i {
    font-size: 1.67rem;
    cursor: pointer;
    transition: 0.5s;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}

.foot-icons i:hover {
    background-color: #C68313;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}

.bottom {
    width: 100%;
    height: auto;
    padding: 10px;
    text-align: center;
    background-color: #C68313;
    color: #fff;
    font-size: 0.9rem;
}

/* Responsive Design */

/* media-queries */
@media (min-width: 991px) {
    .navbar-nav {
        gap: 10px;
    }

    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
        height: 2px;
        background-color: #C68313;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link.nav-link.active::before {
        width: 100%;
        visibility: visible;
    }

    .icons {
        align-items: center;
    }
}

@media (max-width: 991px) {
    .navbar-nav {
        width: auto;
    }

    .icons {
        flex-direction: row;
        margin-right: 20px;
    }

    footer {
        padding: 50px !important;
        padding: 50px !important;
    }

    .foot-cont p {
        font-size: 0.9rem;
    }

    .foot-cont ul li {
        font-size: 0.9rem;
    }
}

@media (max-width: 764px) {
    .navbar {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .navbar-brand img {
        width: 70%;
        height: 50%;
    }

    .nav-item .bi {
        font-size: 1rem;
        width: 25px;
        height: 25px;
        line-height: 25px;
    }

    .nav-item .bi:hover,
    .nav-item .bi.active {
        width: 25px;
        height: 25px;
        line-height: 25px;
    }

    .navbar-toggler-icon {
        font-size: 1rem;
    }

    .hero-section {
        padding-top: 100px !important;
    }

    footer {
        width: auto;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .foot-cont {
        flex-direction: column;
        width: auto;
        gap: 25px;
    }

    .foot-cont p {
        font-size: 0.9rem;
    }

    .foot-cont ul li {
        font-size: 0.9rem;
    }

    .bottom {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 0.9rem !important;
    }
}

@media (max-width: 900px) {
    .resource-grid {
        flex-direction: column;
    }
    .resource-card {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .hero-section {
        height: auto;
        padding: 60px 20px;
    }
    .hero-content h1 {
        font-size: 24px;
    }
    .faq-box {
        padding: 18px;
    }
}

@media (max-width:403px) {

    .navbar-toggler {
        font-size: 0.8rem !important;
    }

    .nav-item .bi {
        font-size: 0.8rem;
        width: 20px;
        height: 20px;
    }

    .nav-item .bi:hover,
    .nav-item .bi.active {
        width: 20px;
        height: 20px;
        line-height: 20px;
    }

    .icons {
        gap: 0px !important;
        flex-grow: 0;
        justify-content: center;
    }

}