@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    max-width: 100%;
    backdrop-filter: blur(12px);
    background-color: rgb(255, 255, 255, 0.95);
    display: inline-block;
    position: fixed;
    z-index: 999;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.077);
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
    outline: none;
    box-shadow: none;
}

.offcanvas-body {
    z-index: 999;
}

.nav-link {
    color: #000000;
    font-weight: 400;
    position: relative;
    transition: 0.5s;
    font-size: 0.9rem;
}

.nav-link:hover,
.nav-link.active {
    font-weight: 500;
    color: #C68313 !important;
}

.nav-item .bi {
    font-size: 1.25rem;
    color: #000000;
    display: inline-block;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    transition: 0.2s;
}

.nav-item .bi:hover,
.nav-item .bi.active, .cart-active {
    background-color: #C68313;
    color: #fff !important;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}



.offcanvas {
    width: 65% !important;
    max-width: 100% !important;
    background-color: #fff !important;
    height: 100vh !important;
}

.cart-cont {
    font-size: 16px;
    user-select: none;
    padding: 130px 100px 70px 100px;
    background-color: rgb(0, 0, 0, 0.02);
}

.cart-cont h2 {
    color: #C68313;
}

.cart-cont table {
    justify-content: space-between;
}

.qty-btn {
    font-size: 20px;
    padding: 3px 10px;
    cursor: pointer;
    color: #444;
}

.total {
    font-weight: 600;
    font-size: 15px;
}

.line {
    width: 100%;
    height: 1px;
    background: #eee;
    margin: 20px 0 30px;
}

.summary-box {
    text-align: right;
    font-size: 14px;
}

.summary-row {
    margin-bottom: 8px;
}

.orange-text {
    color: #d48b1f;
    font-size: 13px;
}

.checkout-btn {
    display: inline-block;
    margin-top: 15px;
    background: #c2821a;
    color: #fff;
    padding: 12px 26px;
    border-radius: 6px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.2s;
}

.checkout-btn:hover {
    background: #aa6f16;
}

.product-box {
    width: 100%;
    gap: 10px;
    margin-bottom: 20px;
}

table {
    width: 100%;
}

table tr {
    display: flex;
    justify-content: space-between;
}

.qn {
    margin-left: 22rem;
    margin-bottom: 20px;
}

.product-box img {
    width: 100px;
    height: 120px;
}

footer {
    width: 100%;
    height: auto;
    padding-top: 70px;
    padding-bottom: 50px;
    padding-left: 100px !important;
    padding-right: 100px !important;
}

.foot-cont {
    max-width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 span {
    color: #C68313;
}

.cont1 .content {
    color: #fff;
    margin-top: 35px;
}

.icon-name {
    font-weight: 600;
    font-size: 1rem;
}

.cont2,
.cont3 {
    color: #fff;
}

.cont2 h5,
.cont3 h5 {
    color: #C68313;
}

.cont2 ul,
.cont3 ul {
    margin-top: 30px;
}

.cont2 ul li,
.cont3 ul li {
    margin-top: 15px;
}

.foot-icons {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.foot-icons i {
    font-size: 1.67rem;
    cursor: pointer;
    transition: 0.5s;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}

.foot-icons i:hover {
    background-color: #C68313;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}

.bottom {
    width: 100%;
    height: auto;
    padding: 10px;
    text-align: center;
    background-color: #C68313;
    color: #fff;
    font-size: 0.9rem;
}

/* media-queries */
@media (min-width: 991px) {
    .navbar-nav {
        gap: 10px;
    }

    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
        height: 2px;
        background-color: #C68313;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link.nav-link.active::before {
        width: 100%;
        visibility: visible;
    }

    .icons {
        align-items: center;
    }

    .main {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 991px) {
    .navbar-nav {
        width: auto;
    }

    .icons {
        flex-direction: row;
        margin-right: 20px;
    }

    .herosection {
        max-width: 100%;
        width: auto;
        height: auto;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 100px;
        padding-bottom: 70px;
    }

    .left {
        width: 100%;
    }

    .right {
        display: none;
    }

    footer {
        padding: 50px !important;
        padding: 50px !important;
    }

    .foot-cont p {
        font-size: 0.9rem;
    }

    .foot-cont ul li {
        font-size: 0.9rem;
    }
}

@media (max-width: 764px) {
    .navbar {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .navbar-brand img {
        width: 70%;
        height: 50%;
    }

    .nav-item .bi {
        font-size: 1rem;
        width: 25px;
        height: 25px;
        line-height: 25px;
    }

    .nav-item .bi:hover,
    .nav-item .bi.active {
        width: 25px;
        height: 25px;
        line-height: 25px;
    }

    .navbar-toggler-icon {
        font-size: 1rem;
    }

    .herosection {
        width: auto;
        padding-left: 30px;
        padding-right: 30px;
    }

    .left .str-btn {
        font-size: 0.9rem;
    }

    .left h1 {
        font-size: 1.80rem;
        font-weight: bold;
    }

    .left h3 {
        font-size: 1.55rem;
    }

    .left p {
        font-size: 0.9rem;
    }

    .left .buttons {
        gap: 5px !important;
    }

    .buttons .button {
        font-size: 0.9rem !important;
    }

    .main {
        padding-right: 20px;
        padding-left: 20px;
    }

    .main .sub-head1 {
        font-size: 1rem;
    }

    .sub-head1::before {
        width: 50%;
        height: 1px;
    }

    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: auto;
    }

    .card-body {
        padding-left: 5px;
        padding-right: 5px;
    }

    .card-body .name {
        font-size: 1rem;
    }

    .card-body .range {
        font-size: 0.75rem;
    }

    .review {
        padding-left: 20px;
        padding-right: 20px;
    }

    .review .head {
        font-size: 1.75rem;
        text-align: center;
    }

    .review .sub-head2 {
        font-size: 0.9rem;
        text-align: center;
    }

    .testimonials {
        width: auto;
    }

    .testimonial-card {
        width: auto;
        padding: 20px;
    }

    .testimonial-card .rev {
        font-size: 0.9rem;
    }

    .testimonial-card .author {
        font-size: 0.9rem;
    }

    .event {
        align-items: flex-start;
        padding-left: 20px;
        padding-right: 20px;
    }

    .event .head {
        font-size: 1.75rem;
        text-align: center;
    }

    .event .sub-head2 {
        font-size: 0.9rem;
        text-align: center;
    }

    .email {
        width: auto;
    }

    #em-inp {
        width: 100%;
        font-size: 0.9rem;
    }

    .sub-btn {
        width: 40%;
        font-size: 0.9rem;
    }

    footer {
        width: auto;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .foot-cont {
        flex-direction: column;
        width: auto;
        gap: 25px;
    }

    .foot-cont p {
        font-size: 0.9rem;
    }

    .foot-cont ul li {
        font-size: 0.9rem;
    }

    .bottom {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 0.9rem !important;
    }
}

@media (max-width:403px) {

    .navbar-toggler {
        font-size: 0.8rem !important;
    }

    .nav-item .bi {
        font-size: 0.8rem;
        width: 20px;
        height: 20px;
    }

    .nav-item .bi:hover,
    .nav-item .bi.active {
        width: 20px;
        height: 20px;
        line-height: 20px;
    }

    .icons {
        gap: 0px !important;
        flex-grow: 0;
        justify-content: center;
    }

}

@media (max-width: 900px) {
    .cart-cont {
        padding-left: 20px;
        padding-right: 20px;
    }

    table tr {
        flex-direction: column;
        gap: 10px;
    }

    tr th {
        display: none;
    }

    .product-box {
        margin-top: 20px;
    }

    .qty-controls,
    .total {
        display: none;
    }

    .title,
    .subtitle {
        font-size: 12px;
    }

}